<nav>
    <input type="checkbox" id="check">
    <div class="logo"><img src="../../assets/logo.webp" alt=""></div>
    <label for="check" class="checkbtn"><i class="bi bi-list"></i></label>
    <label for="logo" class="logo">Ecommerce</label>
    <ul>
        <li><a href="" class="active">Home</a></li>
        <li><a href="">About Us</a></li>
            <!-- <li ><a href=""><i class="bi bi-cart"></i><span [ngClass]="counterService.getCounter()?'red':''">{{counterService.getCounter()}}</span></a></li> -->
        <li>
            <button class="btn " (click)="cart()">
                <i class="bi bi-cart"></i>
                <div class="badge bg-danger">{{counterService.getCounter()}}</div>
            </button>
        </li>
    </ul>
</nav>
