
    <div class="row my-3 parent" *ngIf="data">
        <div class="col-md-4" *ngFor="let element of data; index as i ">
            <!-- <h2>{{element.title}}</h2> -->
            <div class="card">
                <img class="card-img-top" [src]="element.image" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{element.title}}</h5>
                <p class="card-text">{{element.category}}</p>
                <p class="card-text">{{element.price}}</p>
                <p class="card-text description">{{element.description}}</p>
                <a href="#" class="btn btn-primary" (click)="modifyCounter(element)">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
